[Unit]
Description="LDC-100-cloud service"
After=network.target

[Service]
Type=simple
LogLevelMax=3
Restart=Always
User=lg58
Group=lg58
ExecStart=/home/lg58/LDC-100/cloud/systemd_cloud.sh

[Install]
WantedBy=multi-user.target